//Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

//Reset Styles
* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: #1f1f20;
  --color2: #2b4c7e;
  --color3: #567ebb;
  --color4: #606d80;
  --color5: #dce0e6;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  background-color: var(--color5);
  font-family: 'Poppins';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}